
.scroller {
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
  width: 100%;
  opacity: 1;
  margin-right: 0;
}

.scroller::after {
  content: ""; /* Add an empty content area after the chat messages */
  display: block;
  height: 0;
  clear: both;
}